@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    --headmargin: 20px;
    box-sizing: border-box;
    font-family: 'Roboto' , Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h4 {
    margin: var(--headmargin) 0px var(--headmargin);
}

p {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    display: grid;
    grid-template: 1fr 7fr / 1fr 5fr;
    /* height: 100vh; */
}

.header {
    grid-column: 2 /-1;
    grid-row: 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr ;
    /* box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.37); */
}

.row1 {
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}

.row2 {
    grid-row: 2;
    display: flex;
    justify-content: space-around;
}

.sidebar {
    background: rgb(32, 144, 214);
    grid-row: 1 / -1;
    grid-column: span 1;
    min-width: 250px;
    display: grid;
    grid-template: 1fr 5fr 3fr/ 1fr;
    color: white;
    font-weight: bold;
    align-items: start;
    gap: 20px;
    height: 100vh;
}

.sidebar > h3 {
    font-size: 1.8rem;
    grid-row: 1/2;
}

.sidebar li {
    font-size: 1.2rem;
}

.middle {
    grid-row: 2/3;
}

.sidebar .end {
    grid-row: 3/4;
}

.main {
    --paddingbot: 30px;
    --announceheight: 270px;
    --trendheight: 270px;
    --maingap: 15px;
    background: rgb(223, 230, 238);
    display: grid;
    grid-template: 1fr 3fr / 5fr 2fr;
    padding: 0px 20px var(--paddingbot);
    overflow: hidden;
    height: calc(87.5vh - var(--paddingbot));
    align-content: stretch;
    gap: var(--maingap);
}

.col1 {
    grid-column: 1;
    grid-row: 1 / -1;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 15px;
    padding: 0px 15px 15px 0px;
}

.scrollstopper {
    padding-top: 1px;
    display: content;
    line-height: 0; /*To remove weird gap*/
    font-size: 0;
    overflow: auto;
    margin: 0px;
    align-self: stretch;
    /* height: calc(43px + var(--announceheight) + var(--maingap) + var(--headmargin) + var(--trendheight) ); */
    height: 625px;
}

.card {
    line-height: initial; /*To prevent inheritance*/
    font-size: initial;
    vertical-align: top;
    background: white;
    border-radius: 7px;
    height: 161.4px;
    box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.37);
    padding: 15px;
    margin: 0px;
}

.col2top {
    line-height: 0; /*To remove weird gap*/
    font-size: 0;
    grid-column: 2;
    grid-row: 1;
    height: 340px;
}

.col2top > h4,.col2bot > h4 {
    line-height: initial; /*fix inheritance*/
    font-size: initial;
}

.announcelist {
    line-height: initial;
    font-size: initial;
    overflow: auto;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr;
    /* border: 1px solid red; */
    background: white;
    border-radius: 10px;
    box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.37);
    height: var(--announceheight);
}

.col2bot {
    line-height: 0; /*To remove weird gap*/
    font-size: 0;
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    height: 340px;
}

.col2bot > h4 {
    margin-top: 0px;
}

.trendlist {
    line-height: initial; 
    font-size: initial;
    overflow: auto;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr;
    gap: 10px;
    padding: 0px;
    /* border: 1px solid red; */
    background: white;
    border-radius: 10px;
    box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.37);
    height: var(--trendheight);
}
